x
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NO 13</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=PT+Sans:wght@700&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Lato:wght@300&family=PT+Sans:wght@700&family=Quicksand:wght@300&family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <!-- START HEAD SEACTION -->
    <header>
        <div class="logo">
            <h2>
                <span class="a1">Seo</span>
                <span class="a2">Gram.</span>

            </h2>
        </div>
        <div class="navbar">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Service</li>
                <li>blog</li>
                <li>Contact</li>
                <li class="nav-btn">Free Analytics</li>
            </ul>
        </div>


    </header>
    <!-- END OF HEAD SEACTION -->

    <!-- START DIV ONE -->
    <div class="con1">
        <div class="con11">
            <h1>
                Let's Check and Optimize<br> Your website!
            </h1>
            <p>lgnit the most powerfull growth engine you have ever<br> built for your company</p>
            <button>Watch Now <i class="fas fa-play-circle"></i></button>
        </div>
        <div class="con12">
            <img src="./img/banner_image_1.svg">
        </div>

    </div>

    <!-- END DIV ONE -->

    <!-- START DIV TWO -->
    <div class="con2">
        <div class="con21">
            <img src="./img/services/service-1.svg">
            <h4>SEO Consultancy</h4>
            <p>we help your define your SEO<br> objective & develop a realjsitic<br> stratergy with you
            </p>
            <button>Read More</button>
        </div>
        <div class="con21">
            <img src="./img/services/service-2.svg">
            <h4>Content Marketing</h4>
            <p>we help your define your SEO<br> objective & develop a realjsitic<br> stratergy with you
            </p>
            <button>Read More</button>
        </div>
        <div class="con21">
            <img src="./img/services/service-3.svg">
            <h4>Keyword Research</h4>
            <p>we help your define your SEO<br> objective & develop a realjsitic<br> stratergy with you
            </p>
            <button>Read More</button>
        </div>
    </div>
    <!-- END DIV TWO -->

    <!-- START DIV THREE -->
    <div class="con3">
        <div class="con31">
            <span>ABOUT US</span>
            <h1>The numnber #1 SEO Service<br>Company</h1>
            <hr>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat nihil nesciunt minima sapiente quibusdam, blanditiis reiciendis inventore, ea expedita, magni vero facilis dolor fuga?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat commodi voluptatibus, optio deleniti quia quos.</p>
            <button>Read More</button>

        </div>
        <div class="con32">
            <img src="./img/about_frame.png" width="550px" height="550px"> </div>
    </div>
    <!-- END DIV THREE -->

    <!-- START DIV FOUR -->
    <div class="con4">
        <h3>OUR SERVICES</h3>
        <h1>How SEO Team Can Help</h1>
        <hr>
        <div class="onsite-main">
            <div class="onsite">
                <img src="./img/Capture.JPG">
                <h3>OnSite SEO</h3>
                <p>We analyse your website's structure, internal architecture & other key</p>
            </div>
            <div class="onsite">
                <img src="./img/Capture.JPG">
                <h3>OnSite SEO</h3>
                <p>We analyse your website's structure, internal architecture & other key</p>
            </div>
            <div class="onsite">
                <img src="./img/Capture.JPG">
                <h3>OnSite SEO</h3>
                <p>We analyse your website's structure, internal architecture & other key</p>
            </div>
            <div class="onsite">
                <img src="./img/Capture.JPG">
                <h3>OnSite SEO</h3>
                <p>We analyse your website's structure, internal architecture & other key</p>
            </div>
        </div>
        <div class="onsite-main">
            <div class="onsite">
                <img src="./img/Capture.JPG">
                <h3>OnSite SEO</h3>
                <p>We analyse your website's structure, internal architecture & other key</p>
            </div>
            <div class="onsite">
                <img src="./img/Capture.JPG">
                <h3>OnSite SEO</h3>
                <p>We analyse your website's structure, internal architecture & other key</p>
            </div>
            <div class="onsite">
                <img src="./img/Capture.JPG">
                <h3>OnSite SEO</h3>
                <p>We analyse your website's structure, internal architecture & other key</p>
            </div>
            <div class="onsite">
                <img src="./img/Capture.JPG">
                <h3>OnSite SEO</h3>
                <p>We analyse your website's structure, internal architecture & other key</p>
            </div>
        </div>
    </div>

    <!-- END DIV FOUR -->

    <!-- START DIV FIVE -->
    <div class="con5">
        <div class="bg-image">
            <p> Check you website SEO</p>
            <input type="text" placeholder="E.g google.com">
            <button>Check Now</button>
            </input>
        </div>
    </div>

    <!-- END DIV FIVE -->

    <!-- START DIV SIX -->
    <div class="con6">
        <h3>PRICING PLAN</h3>
        <h1>Choose plan the right for you</h1>
        <hr>
        <div class="plan">
            <h3>Basic</h3>
            <p class="price"><span class="price-main"><sup>$</sup>39</span><span class="price-99">.99</span></p>
            <span class="month"><p>PER &nbsp;MONTH</p></span>
            <hr>
            <span class="decprition"><p>25 Analytics<span> Campaing</span></p>
            <span class="decprition"><p>1,300 Change<span> Keywords</span></p>
            <span class="decprition"><p>Social Media<span> Reviews</span></p>
            <span class="decprition"><p>1 Free<span> Optimization</span></p>
            <span class="decprition"><p>24/7<span> Support</span></p>
            </span>
            <hr>
            <button>Subscribe</button>
        </div>
        <div class="plan Standerd">
            <h3>Standerd</h3>
            <p class="price"><span class="price-main"><sup>$</sup>59</span><span class="price-99">.99</span></p>
            <span class="month"><p style="color: #fff;">PER &nbsp;MONTH</p></span>
            <hr>
            <span class="decprition"><p>25 Analytics<span> Campaing</span></p>
            <span class="decprition"><p>1,300 Change<span> Keywords</span></p>
            <span class="decprition"><p>Social Media<span> Reviews</span></p>
            <span class="decprition"><p>1 Free<span> Optimization</span></p>
            <span class="decprition"><p>24/7<span> Support</span></p>
            </span>
            <hr>
            <button>Subscribe</button>
        </div>
        <div class="plan">
            <h3>Professional</h3>
            <p class="price"><span class="price-main"><sup>$</sup>99</span><span class="price-99">.99</span></p>
            <span class="month"><p>PER &nbsp;MONTH</p></span>
            <hr>
            <span class="decprition"><p>25 Analytics<span> Campaing</span></p>
            <span class="decprition"><p>1,300 Change<span> Keywords</span></p>
            <span class="decprition"><p>Social Media<span> Reviews</span></p>
            <span class="decprition"><p>1 Free<span> Optimization</span></p>
            <span class="decprition"><p>24/7<span> Support</span></p>
            </span>
            <hr>
            <button>Subscribe</button>
        </div>

    </div>
    <!-- END DIV SIX -->

    <!-- START DIV SEVEN -->
    <div class="con7">
        <div class="con71">
            <h3>SEO to improve Brand<br>Visibility
            </h3>
            <hr>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime voluptatem officiis culpa doloremque quidem pariatur.</p>
            <ul>
                <li>
                    <h3>SEO Content</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio a quas adipisci cupiditate. Eveniet excepturi ipsam quibusdam et rem eligendi?</p>
                </li>
                <li>
                    <h3>B2B SEO</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio a quas adipisci cupiditate. Eveniet excepturi ipsam quibusdam et rem eligendi?</p>
                </li>
            </ul>
        </div>
        <div class="con72">
            <img src="./img/banner_image_2.svg"> </div>
    </div>
    <!-- END DIV SEVEN -->

    <!-- START DIV EIGHT -->
    <div class="con8">
        <h3>OUR BLOG</h3>
        <h1>Read Latest News</h1>
        <hr>
        <div class="news-main">
            <div class="news">
                <img src="./img/blog/blog-1.jpg">
                <h3>Source of Conten<br>Inspiration</h3>
                <p>Posted on <span>27 jan 2020</span></p>
            </div>
            <div class="news">
                <img src="./img/blog/blog-2.jpg">
                <h3>Source of Conten<br>Inspiration</h3>
                <p>Posted on <span>27 jan 2020</span></p>
            </div>
            <div class="news">
                <img src="./img/blog/blog-3.jpg">
                <h3>Source of Conten<br>Inspiration</h3>
                <p>Posted on <span>27 jan 2020</span></p>
            </div>
            <button>View More</button>
        </div>
    </div>
    <!-- END DIV EIGHT -->

    <!-- START FOOTER -->
    <footer>
        <div class="footer">
            <div class="footer1">
                <div>
                    <h3>SEOGram</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, quod voluptatum quisquam reiciendis magnam possimus optio neque sed! Inventore quibusdam facere maiores, quod cupiditate ut labore corporis modi sint at.</p>
                </div>
                <div>
                    <h4>company</h4>
                    <ul>
                        <li>About Us</li>
                        <li>Career</li>
                        <li>Advertise</li>
                        <li>Tearm of Service</li>
                        <li>Help & Support</li>

                    </ul>
                </div>
            </div>
            <div class="footer1 footer2">
                <div>
                    <h4>Contect Us</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    <p>+1 100101010102</p>
                    <p>ahsbdhbhwk@gmail.com</p>

                </div>
                <div>
                    <h4>Newsletter</h4>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <input type="text" placeholder="Enter your email."><br>
                    <button>Subscribe</button>
                </div>
            </div>
            <div class="copyright">
                <p>copyright 2021.This template design and develop by <span>MACode ID</span></p>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->





</body>

</html>